<div class="add-button">

<button routerLink="/userlist" type="button" class="background text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">New User</button>

</div>
<div class="users-title">

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            
            <tr>
                <th scope="col" class=" color py-3">
                   ID
                 </th>
                <th scope="col" class=" color py-3">
                   First Name
                </th>
                <th scope="col" class="color px-6 py-3">
                    Last Name
                </th>
                <th scope="col" class="color px-6 py-3">
                    Email
                </th>
                <th scope="col" class="color px-6 py-3">
                    Password
                </th>
            </tr>
        </thead>
        @for (item of items; track $index) {
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{item.id}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{item.firstname}}
                  </th>
                <td class="px-6 py-4">
                    {{item.lastname}}
                </td>
                <td class="px-6 py-4">
                    {{item.email}}
                </td>
                <td class="px-6 py-4">
                    {{item.password}}
                </td>
                <td  class="px-6 py-4">
                    <div class="button">
                        <button (click)="edit(item.id)" type="button" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">edit</button>
                        </div>
                </td>
            
            </tr>
           
        </tbody>
    }
    </table>
</div>

</div>


