table, td, th{
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 45px;
}


.background{
    background-color: #e5e5eb;
}
.add-button{
padding-top: 25px;
}
.color{
    background-color: #e5e5eb;

}
