<div class="card">
    <div class="left">

        <div class="empty-row">
        </div>
        <div class="images">
            <img class="icon-a" src="https://cdn-icons-png.flaticon.com/128/8149/8149778.png">
            <img class="icon-c" src="https://cdn-icons-png.flaticon.com/128/13041/13041406.png">
            <!-- <img class="icon-c" src=" https://cdn-icons-png.flaticon.com/128/4500/4500411.png"> -->
        </div>


        <div class="name italic ">
            ANXHELA CEKA
        </div>
        <div class="name1 italic ">
            programmer
        </div>

    </div>


    <div class="right">
        <div class="empty-row-right">
            <div class="web-design underline">
                WEB DEVELOPER
            </div>
        </div>
        <div class="images">
            <img class="icon-r" src="https://cdn-icons-png.flaticon.com/128/2721/2721590.png">
        </div>
        <div class="phone">
            <img class="right-info" src="https://cdn-icons-png.flaticon.com/128/159/159832.png">
            <div class="number">
                +355675824565
            </div>
        </div>

        <div class="phone">
            <img class="right-info" src="https://cdn-icons-png.flaticon.com/128/15678/15678556.png">
            <div class="number">
                anxhela_ceka
            </div>
        </div>

        <div class="phone">
            <img class="right-info" src="https://cdn-icons-png.flaticon.com/128/927/927667.png">
            <div class="number">
                21 Djetori,Tirane
            </div>
        </div>
        <div class="phone">
            <img class="right-info" src="https://cdn-icons-png.flaticon.com/128/3690/3690706.png">
            <div class="number">
                anxhelaceka8gmail.com
            </div>
        </div>


    </div>

</div>

<!-- <div class="card-cnt">
<div class="business-card">
    <div class="business-card-left-section">
        <div>
            <div class="images">
                <img class="icon-a" src="https://cdn-icons-png.flaticon.com/128/8149/8149778.png">
                <img class="icon-c" src="https://cdn-icons-png.flaticon.com/128/13041/13041406.png"> -->
                <!-- <img class="icon-c" src=" https://cdn-icons-png.flaticon.com/128/4500/4500411.png"> -->
            <!-- </div>
        </div>
        <div>
            <div class="name italic ">
                ANXHELA CEKA
            </div>
        </div>
        <div>
            <div class="name1 italic ">
                programmer
            </div>
        </div>
    </div>
    <div  class="business-card-right-section">
        <div>
            <div class="web-design underline">
                WEB DEVELOPER
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div></div> -->