<div class="card">
    <div class="white-section">
        <div class="white-section-qrcode">
            <img src="https://cdn-icons-png.flaticon.com/128/3081/3081037.png">
        </div>
        <div class="white-section-logo">
            <div class="logo-ac">
                <img class="logo-icon-a" src="https://cdn-icons-png.flaticon.com/128/8149/8149778.png">
                <img class="logo-icon-c" src="https://cdn-icons-png.flaticon.com/128/13041/13041406.png"> 
            </div>
            <div class="white-section-logo-name">
                ANXHELA CEKA
            </div>
        </div>
    </div>
    <div class="blue-section">
        <div class="blue-section-name">
            WEB DEVELOPER 
        </div>
        <div class="blue-section-information">
            

        </div>
    </div>
</div>
