
@if (showBanner) {
<div (click)="test()" >
    <img class="image" src="{{banner}}" alt="image">
</div>
}
<div>
    <div class="row">

        <div class="item"> Hi <br> Sign up
        </div>
        <div class="item"> Save 35% Today <br> Set up Autoship</div>
        <div class="item"> Recent Order <br> Track Package</div>
        <div class="item"> Chewy pharmacy <br> Shop now</div>
    </div>
</div>
<div class="row2">

    @for (item of items; track $index) {
        <div (click)="showAlert(item)" class="space">
            <div>
                <img class="image1" [src]="item.image" alt="image"> 
            </div>
            <div class="desc1">
               {{item.title}}
            </div>
            <div >
                {{item.description}}
            </div>
        </div>
    }
</div>



